@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;

}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;

}

h4{
    font-size: 20px;
    color: #222;

}

h6{
    font-weight: 700;
    font-size: 12px;

}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin : 40px 0;
}

button.normal{
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4;
}

button.white{
    font-size: 13px;
    font-weight: 800;
    padding: 10px 18px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    transition: 0.4;
}

body {
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background-color: #f2f3f6;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: 18vh;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color : black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    /* color:#2ce855; */
    color: rgb(237, 40, 40);
}

#page a.active1{
    color:#2ce855
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2.5px;
    background-color: #000000;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#model{
    background-image: url("images/model.jpg");
    height:120vh;
    width: 100%;
    background-size: cover;
    background-position: top 10% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#model h4{
    padding-bottom: 15px;
}

#model h1{
    color:#2ce855;
}

#model button{
    background-image: url("images/button.png");
    background-color:transparent;
    color:#0e451a;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#features .box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 15px 20px 34px rgb(215, 210, 210);
    border: 1px solid #f2f3f6;
    border-radius: 4px;
    margin: 15px 0;
}
#features .box:hover{
    box-shadow: 10px 10px 54px rgb(158, 163, 157);
}

#features .box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color:#0e451a ;
    background-color:#deb8b8 ;
}

#features .box img{
    width: 100%;
    margin-bottom: 10px;
}

#product{
    text-align: center;
}

#product .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #f2f3f6;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(158, 163, 157);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product .pro:hover{
    box-shadow: 20px 20px 30px rgb(143, 148, 142);
}

#product .pro img{
    width: 100%;
    border-radius: 20px;
}

#product .pro .des{
    padding: 10px 0;
}

#product .pro .des span{
    color:#0e451a;
    font-size: 15px;
}

#product .pro .des hs{
    padding-top: 7px;
    color:#222;
    font-size: 200px;
}

#product .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#166928;
}

#product .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #f2f3f6;
    font-weight: 500;
    color: #222;
    border: 1px solid #c9cacc;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000;
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: aliceblue;
    font-size: 20px;
}

#banner h2{
    color: aliceblue;
    font-size: 50px;
    padding: 10px 0;
}

#banner h2 span{
    color: rgb(226, 97, 12);
}

#banner button:hover{
    background-color: #deb8b8;
    color: aliceblue;
}

#sample {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sample .banbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("images/b2.png");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    width: 48%;
    padding: 30px;
}

#sample .banbox2{
    background-image: url("images/model2.jpg");
}

#sample .banbox2 h4{
    color: aliceblue;
}

#sample .banbox2 h2{
    color: aliceblue;
}

#sample .banbox2 span{
    color: aliceblue;
}

#sample h4{
    color: rgb(54, 52, 51);
    font-weight: 20px;
    font-weight: 600;
}

#sample h2{
    color: rgb(39, 36, 36);
    font-weight: 30px;
    font-weight: 800;
}

#sample span{
    color: rgb(41, 43, 45);
    font-weight: 15px;
    font-weight: 500;
    padding-bottom: 15px;
}

.banbox button{
    border-radius: 5px;
}

#sample .banbox:hover button{
    background-color: #deb8b8;
    border: 1px solid #222;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("images/model3.jpg");
    min-width: 30%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    width: 48%;
    padding: 30px;
    margin-bottom: 20px;
}

#banner3 .banbox4{
    background-image: url("images/cotton.jpg");
}

#banner3 .banbox4 h2{
    color: #f2f3f6;;
}

#banner3 .banbox4 h3{
    color:#000000;;
}

#banner3 h2{
    color: aliceblue;
    font-weight: 800;
    font-size: 60px;
}

#banner3 h3{
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
}

#update{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("images/b1.jpg");
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
}

#update h4{
    font-size: 25px;
    font-weight: 700;
    color: azure;
}

#update p{
    font-size: 15px;
    font-weight: 500;
    color: azure;
}

#update span{
    color: #e62222;
}

#update.form{
    display: flex;
    width: 20%;
}

#update input{
    height: 3rem;
    padding: 0 1.25em;
    font-size: 15px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    border: none;
}


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 5px;
}

footer .column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;

}

footer h4{
    font-size: 20px;
    padding-bottom: 20px;
}

footer p{
    font-size: 15px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #3b3b3b;
    padding-right: 5px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #000000;
    border-radius: 5px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: rgb(45, 225, 93);
}

.black{
    background-color: #000000;
    color: #ffffff;
    font-size: 15px;
    height:6vh;
    padding: 16px;
    display: flex;
    align-items: center;
}


.black strong{
    padding: 0px 5px;
    font-size: 18px;
}

.black i{
    font-size: 20px;
    margin-left: 500px;
}
.black i:hover{
    color: #a4a4a4;
}

.black h3{
    padding-left: 570px;
    font-size: 15px;
}

#hero{
    background-image: url("images/b57.jpg");
    background-position: center;
    width: 100%;
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 50px 5px 10px 5px;
}

#hero h2{
    color: rgb(255, 255, 255);
    padding-top:400px ;
    font-size: 50px;
}
#hero p{
    color: #ffffff;
    font-size: 30px;
    font-weight: 1000;
}

#hero p span{
    color: #eb2f2f;
    font-size: 30px;
    font-weight: 1000;
}

#page{
    text-align: center;

}

#page a{
    text-decoration: none;
    background-color: #222;
    padding: 15px 20px;
    border-radius: 4px;
    color: aliceblue;
    font-weight: 600;
}

#page a  i{
    font-size: 16px;
    font-weight: 600;
}

#productdetail{
    display: flex;
    margin-top: 20px;
}

#productdetail .single-image{
    width: 40%;
    margin-right: 50px;
}

.small-image{
    display: flex;
    justify-content: space-between;
}

.small {
    flex-basis: 24%;
    cursor: pointer;
}

#productdetail .singledetails{
    width: 50%;
    padding-top: 30px;
}

#productdetail .singledetails h4{
    padding: 40px 0 20px 0;
}

#productdetail .singledetails h2{
    font-size: 30px;
}

#productdetail .singledetails select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#productdetail .singledetails input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#productdetail .singledetails button{
    background-color: #302d2d;
    color: aliceblue;
}

#productdetail .singledetails input:focus{
    outline: none;
}

#productdetail .singledetails select:focus{
    outline: none;
}

#productdetail .singledetails span{
    line-height: 23px;
}

#atbanner {
    background-image: url("images/b4.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px 5px 10px 5px;
}

#atbanner h2{
    color: aliceblue;
    font-weight: 1000;
    margin-bottom: 300px;
}

#atbanner h2 span{
    color: #e62222;
}

#aboutp{
    text-align: center;
    font-size: 500px;
    padding: 20px;
    font-weight: 700;
    line-height: 50px;
}

#aboutp .atphoto{
    padding: 20px;
    height: 50vh;
    width: 40%;
    margin-right: 50px;
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}

#at-contact{
    background-image: url("images/b11.jpg");
    width: 100%;
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px 5px 10px 5px;

}

#at-contact h2{
    font-size: 60px;
    color: #ffffff;
    padding-top: 50px;
}

#at-contact p{
    font-size: 40px;
    color: #ffffff;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;border: 1px solid #d1c6c6;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form span{
    font-size: 25px;
    padding: 20px 0;
}

#form-details form h2{
    font-size: 40px;
    line-height: 35px;
    padding: 20px 0;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #837b7b;
}

#form-details form button{
    background-color: #222;
    color: aliceblue;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div p,
#form-details .peope div h2{
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    padding: 10px 45px;
}

#form-details .people1 h2{
    padding: 0 0 0 30px;
}

#form-details .people1 span{
    color: #eb2f2f;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #222;
}

#at-cart{
    background-image: url("images/b9.jpg");
    width: 100%;
    height: 80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px 5px 10px 5px;

}

#at-cart h2{
    color: #ffffff;
}

#at-cart h2 span{
    color: #df6310;
}

#at-cart p{
    color: whitesmoke;
    font-size: 40px;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width:80px
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(4) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid rgb(206, 197, 197);
    border-left: none;
    border-right: none;

}

#cart table thead td{
    font-weight: 1000px;
    font-size: 15px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 15px;
}

#addcart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;

}

#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid rgb(196, 188, 188);
}

#coupon button,
#subtotal button{
    background-color: #000000;
    color: aliceblue;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid rgb(196, 188, 188); 
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid rgb(196, 188, 188);
    padding: 10px ;
    font-size: 13px;
}

#cart tbody i{
    color: #000000;
}


#login-details{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    padding: 80px;border: 1px solid #d1c6c6;
}

#login-details h2{
    padding-bottom: 70px;
    color: #000000;
}

#login-details form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}


#login-details form input{
    width: 400px;
    padding: 12px 15px;
    height: 50px;
    font-size: 15px;
    outline: none;
    margin-bottom: 50px;
    border: 1px solid #000000;
}

#login-details form i{
    font-size: 28px;
    padding-right: 10px;   
}

#login-details form i:hover{
    color: grey;
}

#login-details form button{
    background-color: #222;
    color: aliceblue;
}

#hero11{
    background: url("images/b23.jpg")   ;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 50px 5px 10px 5px;
}

#hero11 h2{
    color: rgb(0, 0, 0);
    padding-top:400px ;
    font-size: 50px;
}
#hero11 p{
    color: #383636;
    font-size: 30px;
    font-weight: 1000;
}

#hero11 p span{
    color: #eb2f2f;
    font-size: 30px;
    font-weight: 1000;
}

#hero12{
    background: url("images/b3.jpg")   ;
    width: 100%;
    height: 60vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 50px 5px 10px 5px;
}

#hero12 h2{
    color: rgb(0, 0, 0);
    padding-top:0px ;
    font-size: 50px;
}

#hero12 h2 span{
    color: rgb(255, 0, 0);
    padding-top:0px ;
    font-size: 50px;
}
#hero12 p{
    color: #2e2929;
    font-size: 30px;
    font-weight: 1000;
}

#hero12 p span{
    color: #eb2f2f;
    font-size: 30px;
    font-weight: 1000;
}

#hero25{
    background: url("images/b40.jpg") ;
    background-position: center;
    width: 100%;
    height: 60vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 50px 5px 10px 5px;
}

#hero25 h2{
    color: rgb(255, 255, 255);
    padding-top:0px ;
    font-size: 50px;
}

#hero25 h2 span{
    color: rgb(255, 255, 255);
    padding-top:0px ;
    font-size: 50px;
}
#hero25 p{
    color: #ffffff;
    font-size: 30px;
    font-weight: 1000;
}

#hero25 p span{
    color: #eb2f2f;
    font-size: 30px;
    font-weight: 1000;
}


#hero27{
    background: url("images/s22.jpg") ;
    background-position: center;
    width: 100%;
    height: 80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 280px 5px 0px 5px;
}

#hero27 h2{
    color: rgb(255, 255, 255);
    padding-top:0px ;
    font-size: 50px;
}

#hero27 h2 span{
    color: rgb(245, 0, 0);
    padding-top:0px ;
    font-size: 50px;
}
#hero27 p{
    color: #ffffff;
    font-size: 30px;
    font-weight: 1000;
}

#hero27 p span{
    color: #eb2f2f;
    font-size: 30px;
    font-weight: 1000;
}

#herox{
    background: url("images/x4.jpg") ;
    background-position: center;
    width: 100%;
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 280px 5px 0px 5px;
}

#herox h2{
    color: rgb(255, 255, 255);
    padding-top:0px ;
    font-size: 50px;
}

#herox h2 span{
    color: rgb(0, 0, 0);
    padding-top:0px ;
    font-size: 50px;
}
#herox p{
    color: #ffffff;
    font-size: 30px;
    font-weight: 1000;
}

#herox p span{
    color: #eb2f2f;
    font-size: 30px;
    font-weight: 1000;
}

#herom{
    background: url("images/x2.jpg") ;
    background-position: center;
    width: 100%;
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 280px 5px 0px 5px;
}

#herom h2{
    color: rgb(255, 255, 255);
    padding-top:0px ;
    font-size: 50px;
}

#herom h2 span{
    color: rgb(255, 0, 0);
    padding-top:0px ;
    font-size: 50px;
}

#ban2 {
    width: 100%;
    height: 200px;
    justify-content: center;
    text-align: center;
    background-color: black;
}

#ban2 h2{
    color: #c9cacc;
    padding: 70px 200px 200px 300px;
}
#ban2 span{
    color: tomato;
}

#herog{
    background: url("images/g2.jpg") ;
    background-position: center;
    width: 100%;
    height: 60vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 280px 5px 0px 5px;
}

#herog h2{
    color: rgb(255, 255, 255);
    padding-top:0px ;
    padding-bottom: 240px;
    font-size: 80px;
}

#garden{
    padding: 150px 150px 0px 150px;

}
#garden .gbox{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

#garden .gimage{
    width: 50%;
    margin-right: 40px;
}

#garden img{
    width: 100%;
    height: 700px;
    object-fit: cover;
    padding-bottom: 80px;
    padding-left: 40px;
}

#garden .gdetails{
    width: 50%;

}

#garden .gbox h1{
    position: absolute;
    top:-40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    padding-left: 35px;
    color: #a39f9f;
    z-index: -10;
}

#heroc{
    background: url("images/c1.jfif") ;
    background-position: center;
    width: 100%;
    height: 70vh;
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 280px 5px 0px 5px;
}

#heroc h2{
    color: rgb(255, 255, 255);
    padding-top:0px ;
    padding-bottom: 240px;
    font-size: 60px;
}

#heroc span{
    color: crimson;
}

#privacy {
    background-color: #000000;
    width: 100%;
    height: 60vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px 5px 10px 5px;
}

#privacy span{
    color: rgb(255, 255, 255);
}

#privacy h2{
    color: #ffffff;
}

#legal {
    background-color: #d6d4d4;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px 5px 10px 5px;
}

#heros{
    background-color: black;
    background-position: center;
    width: 100%;
    height: 60vh;
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 280px 5px 0px 5px;
}

#heros h2{
    color: rgb(255, 255, 255);
    padding-top:0px ;
    padding-bottom: 240px;
    font-size: 60px;
}

#herocr{
    background: url("images/d3.jpg") ;
    background-position: center;
    width: 100%;
    height: 60vh;
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 280px 5px 0px 5px;
}

#herocr h2{
    color: rgb(0, 0, 0);
    padding-top:0px ;
    padding-bottom: 240px;
    font-size: 60px;
}

#heroer{
    background-color: #000000;
    background-position: center;
    width: 100%;
    height: 60vh;
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 280px 5px 0px 5px;
}

#heroer h2{
    color: rgb(255, 255, 255);
    padding-top:0px ;
    padding-bottom: 240px;
    font-size: 60px;
}

#ret p{
    padding-left: 300px;
}

#faq{
    background: url("images/f12.jpg") ;
    background-position: center;
    width: 100%;
    height: 60vh;
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 280px 5px 0px 5px;
}

#faq h2{
    color: rgb(0, 0, 0);
    padding-top:0px ;
    padding-bottom: 240px;
    font-size: 60px;
}

#login-details form a{
    color: #ff0000;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

#ban3{
    background: url("images/b23.jpg") ;
    background-position: cover;
    width: 100%;
    height: 60vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 50px 5px 10px 5px;
}

#ban3 h2{
    color: #cf2626;
    padding-top: 20px;
    font-size: 80px;
}

#ban3 p{
    color: #000000;
    font-size: 30px;
}


#herof{
    background: url("images/v1.jpg") ;
    background-position: center;
    width: 100%;
    height: 60vh;
    object-fit:cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 280px 5px 0px 5px;

}

#herof h2{
    color: rgb(255, 255, 255);
    padding-top:0px ;
    padding-bottom: 240px;
    font-size: 60px;
}

.gimage1 img{
    width: 50%;
}

.gimage2 img{
    width: 50%;
    padding-right: 20px;
} 



#sample .banboxx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("images/z5.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    width: 48%;
}

#sample .banboxz{
    background-image: url("images/z3.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    width: 48%;
}

#sample .banboxx button{
    color: #b7afaf;
    border-radius: 5px;
}

#sample .banboxz button{
    color: white;
    background-color: none;
    border-radius: 5px;
}
#sample .banboxz h2{
    color: rgb(255, 255, 255);
}

.banboxx{
    padding-left: 40px;
}
.banboxz{
    padding-left: 40px;
}
#aboutx{ 
    padding-left: 541px;
    padding-top: 250px;
}

#aboutx button{
    font-size:20px ;
    font-weight: 200px;
    color: rgb(139, 115, 115);
    border-radius: 5px;
}
#aboutx button:hover{
    background-color: rgb(223, 218, 211);
    transition: 1s;
}
.banboxz button:hover{
    background-color: #000000;
    transition: 1s;
}
.banboxx button:hover{
    background-color: #000000;
    transition: 0.3s;
}

#heroh{
    background-image: url("images/z7.jpg");
    width: 100%;
    height: 60vh;
    padding-left: 600px;
    padding-top: 190px;
    font-size: 200px;
    background-position: center;
    background-size: cover;
}

#heroh h2{
    color: white;
    font-size: 60px;
}

#login-details a:hover{
    color:#2ce855;
    transition: 0.3s ease;
}

.row img:hover{
    box-shadow: 2px 2px 2px 2px rgb(231, 234, 229)
}

footer .install .row img {
    border: none;
    border-radius: 0px;
    border-radius: 5px;
}

#page a:hover{
    color:#e62222;
    transition: 0.3s ease;
}

#fooot{
    padding-bottom: 5px;
}

#banbb:hover{
    color:#2ce855;
    transition: 0.3s ease;
}

#col1{
    display: flex;
    flex-direction: row;
}

#sucess{
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

#sucess i{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 250px;
}

#sucess h2{
    font-size: 30px;
}
#sucess h3{
    font-size: 15px;
    padding-bottom: 80px;
}

#sucess a{
    text-decoration: none;
    color: tomato;
}

.cart{
    position: relative;
}


#cartAmount{
    position: absolute;
    top: -18px;
    right: -5px;
    font-size: 15px;
    padding: 5px;
    z-index: -1;
    border-radius: 4px;
    font-weight: 900;
    color: white;
    background-color: rgb(220, 61, 61);
}

#checkbut:hover{
    background-color: rgb(102, 102, 102);
}


.col{
    position: absolute; 
    width: 20%;
    box-sizing: border-box;
    top: 80px;
    left: 1100px;
    background-color: #f9f9f9;
    visibility: hidden;
}
.col li{
    font-size: 13px;
    margin: 12px;
    font-weight: 500;
    color: #000000;
}
.col button{
    background-color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 2px;
    padding: 10px 15px;
}

.col i{
    padding-right: 8px;
    font-size: 15px;
}

.col i:hover{
    color: #a4a4a4;
}

.hov button:hover{
    background-color: rgb(100, 100, 100);
}

#down:hover .col{
    visibility: visible;
    transition: all 0.5s ease-in-out;
}

.hov span:hover {
    border-bottom: 3px solid #333;
    cursor: pointer;
}

#emptyCart{
    text-align: center;
}

#emptyCart h1{
    margin-top: 120px;
    margin-bottom: 0px
}

#emptyCart button{
    background-color: black;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 40px;
}

#emptyCart button:hover{
    background-color: rgb(74, 74, 74);
}

#emptyCart p{
    margin-top: 4px;
    /* font-size: 19px; */
}
#emptyCart span{
    color: rgb(220, 61, 61);
}

.foot12{
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    font-size: 19px;
}